@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Silkscreen&display=swap');

$header-font: "Silkscreen", monospace;
$body-font: "Montserrat", sans-serif;

$input-font-size: 16px;

$rounded: 8px;
$extra-round: 16px;
