.calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  height: 340px;
  width: 400px;
  text-align: center;

  h3 {
    margin: auto;
  }
}
