.diary-block {
  form {
    display: flex;
    flex-direction: column;
    // Allows me to change height in future without having to change this
    height: calc(100% - 60px);
  }
  textarea {
    min-height: calc(100% - 67px);
  }
  select {
    margin-top: 8px;
    font-size: $input-font-size;
    font-family: $header-font;
    padding: 8px;
    border-radius: $extra-round;
    color: $black;
    background-color: $white;
  }
}
