.exercise-block{
  width: 400px;
  height: 340px;
  display: grid;
  grid-template-rows: 220px 1fr;
  align-items: center;
}

.img-exercise {
  width: 400px;
}

.exercise-input-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  button {
    font-family: $header-font;
    background-color: transparent;
    border: none;
    color: $white;
    font-size: $input-font-size;
  }
  button:hover {
    color: $accent;
    cursor: pointer;
    transition: $med-transition;
  }
  .exercise-input-value {
    font-family: $header-font;
    color: $action;
    font-size: 20px;
  }
}
